<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Chassis color -->
  <gazebo reference="chassis">
    <material>Gazebo/SkyBlue</material>
  </gazebo>

  <!-- Friction for Drive Wheels -->
  <gazebo reference="wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="wheel_2">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <!-- Zero friction for Caster wheel -->
  <gazebo reference="caster_40mm_wheel_30mm_01">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="caster_40mm_wheel_support_01">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo>
    <plugin
      filename="gz-sim-diff-drive-system"
      name="gz::sim::systems::DiffDrive">
      <left_joint>left_wheel</left_joint>
      <right_joint>right_wheel</right_joint>
      <wheel_separation>0.2</wheel_separation>
      <wheel_radius>0.033</wheel_radius>
      <odom_publish_frequency>50</odom_publish_frequency>
      <topic>/cmd_vel</topic>
    </plugin>
  </gazebo>


</robot>
